@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What's your Pet</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="file" accept="image/*;capture=camera">
        <div>
            Hello world
        </div>
    </div>
</div>