@model PetVision.Web.Models.ImageToUpload
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What's your Pet</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @*<input type="file" accept="image/*;capture=camera">*@
            @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
            <div class="text-center">
                <input type="submit" class="btn btn-primary">
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 @ViewBag.AlertStatus">
                    @ViewBag.FileStatus
                </div>
            </div>
            
        }
    </div>
</div>